<% content_for :top_left_content do %>
  <div id='badge'>
    <%=render "shared/badge"%>
  </div><!--badge-->
<% end %>

<% content_for :bottom_left_content do %>
  <div id='suggestion'>
    <%=render "shared/suggestion"%>
  </div><!--suggestion-->
<% end %>

<% content_for :main_content do %>
  <div id='cap'>
    <%=render "shared/cap"%>
  </div><!-- friends-->
<% end %>
