<div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span4">
			<div>
        <%=render "shared/badge"%>
      </div>
      <div>
        <%=render "shared/suggestion"%>
      </div>
		</div>
		<div class = "span8">
      <%=render "shared/friends"%>
		</div>
	</div>
</div>
