<div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span4">
			<div id='badge'>
        <%=render "shared/badge"%>
      </div><!--badge-->
      <div id='suggestion'>
        <%=render "shared/suggestion"%>
      </div><!--suggestion-->
		</div>
		<div class="span8">
      <div id='friends'>
        <%=render "shared/friends"%>
      </div><!-- friends-->
		</div>
	</div><!-- row-fluid-->
</div><!-- container-fluid -->
