<div class="container-fluid" style:"background-color:red">
  <div class = "row-fluid">
    <div class = "span8">
	<h1>friends who cap</h1>
    </div>
    <div class = "span4">
	<h1>my carbon cap</h1>
    </div> <!--ends two titles for friends and my cc-->
    <div class = "row-fluid">
	<div class = "span8">
    	   <div class = "row-fluid">
           	<div class = "span3">
	      	  <%= image_tag "susty.jpg"%>
           	</div>
           	<div class = "span7">
		  <br></br>
	      	  <p style="vertical-align: middle">Susty purchased allowances.</p>    
           	</div>
           	<div class = "span1">
                  <h1 style="border:2px solid black;text-align:center">8</h1>
           	</div>
	   </div><!--first user-->
	   <div class = "row-fluid">
           	<div class = "span3">
	      	  <%= image_tag "puneeth.jpg"%>
           	</div>
           	<div class = "span7">
		  <br></br>
	      	  <p style="vertical-align: middle">Puneeth purchased offsets for his recent flight.</p>    
           	</div>
           	<div class = "span1">
                  <h1 style="border:2px solid black;text-align:center">7</h1>
           	</div>
           </div><!--second user-->
           <div class = "row-fluid">
           	<div class = "span3">
	      	  <%= image_tag "jenn.jpg"%>
           	</div>
           	<div class = "span7">
		  <br></br>
	      	  <p style="vertical-align: middle">Jenn's footprint was verified.</p>    
           	</div>
           	<div class = "span1">
                  <h1 style="border:2px solid black;text-align:center">10</h1>
           	</div>
 	   </div><!--third user-->
        </div>
	<div class = "span4">
	   <%= image_tag "badge.jpg"%>
	</div><!--my carbon cap badge-->
  </div>
</div>
<h1></h1>
