<div class="homepageimg"> 
<br></br>
<h1 class="landing-main">my carbon cap</h1>
<h3 class="landing-main">take on your carbon footprint</h3>
<br></br>
<img src="http://www.bebo.com/img/facebook-login.png" style="float:right" hspace="170"/>
</div>
