<div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span4">
			<div id='badge'>
        <%=render "shared/badge"%>
      </div>
      <div id='suggestion'>
        <%=render "shared/suggestion"%>
      </div>
		</div>
		<div class="span8">
      <div id='friends'>
        <%=render "shared/log"%>
      </div>
		</div>
	</div>
</div>
