<div>
  <%= image_tag("sustyj-f.jpg", :class => "img-polaroid") %>
  <h3>Sustainable John</h3>
</div>
<div>
  <div class="span4">9<br />Footprint</div>
  <div class="span4">6<br />Offset</div>
  <div class="span4">8<br />Cred</div>
</div>
<div>
  <h4>Your Carbon Profile:</h4>
  <span>7 out of 10</span>
  <div id="progress-bar">
    <div class="progress progress-info">
      <div class="bar" style="width: 70%"></div>
    </div>
  </div>
</div>
