This the badge. Wear it loud. Wear it proud.
<div><!--first row -->
  <%= image_tag("susty.jpg") %>
  <h2>CO<sub>2</sub> Sturges</h2>
</div><!--first row -->
<div><!--second row-->
  <span>9</span><span>6</span><span>8</span>
</div><!--second row-->
<div><!--third row-->
</div><!--third row-->
