<div>
  <%= image_tag("sustyj-f.jpg") %>
  <h3>Sustainable John</h3>
</div>
<div>
  <div class="span4">9</div>
  <div class="span4">6</div>
  <div class="span4">8</div>
</div>
<div>
  <h4>Your Carbon Profile:</h4>
  <span>7 out of 10</span>
</div>
