<div id="commute">
   <p>Enter total distance you've driven this year:</p>
   <form>
     <fieldset>
    	<input type="text" placeholder="1234">
     </fieldset>
   </form>
   <select><option>miles</option><option>km</option></select>
   <br></br>
   <p>Enter the fuel economy of your car in miles per gallon (mpg):</p>
   <form>
     <fieldset>
    	<input type="text" placeholder="23">
     </fieldset>
   </form>
   <br></br>
   <p>Or select the type of car you drive:</p>
   <select><option>Sedan</option><option>SUV</option><option>Sports car</option><option>Minivan</option><option>Pickup truck</option><option>Electric vehicle</option><option>Hybrid</option></select>
   <br></br>
</div>
