<div id="tabs"> 
  <ul> 
    <li><a href="#tabs-1">Local</a></li> 
    <li><a href="#tabs-2">National</a></li> 
    <li><a href="#tabs-3">Global</a></li> 
  </ul> 
  <div id="tabs-1">
    <%=render "shared/local" %>
  </div><!--tabs-1-->
  <div id="tabs-2">
    <%=render "shared/national" %>
  </div><!--tabs-2-->
  <div id="tabs-3">
    <%=render "shared/global" %>
  </div><!--tabs-3-->
</div><!--tabs-->
<%= image_tag("compare_diagram.png") %>
