<div class="container-fluid">
  <div class = "row-fluid">
    <div class = "span2">
      <%= image_tag "genna-f.jpg"%>
    </div> <!--status photo-->
    <div class = "span10">
      <p>Genna added a flight trip to Los Angeles with 0.4 tons of CO2.</p>
    </div> <!--status -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset2">
      <p><button class="btn btn-small" type="button">Verify</button></p>
    </div> <!--first button -->
    <div class = "span2">
      <p><button class="btn btn-small" type="button">Cap that!</button></p>
    </div> <!--second button -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset1">
      <%= image_tag "sustyj-c.jpg"%>
    </div><!--comment photo -->
    <div class = "span10">
       <input type="text" placeholder="Add a comment…">
    </div><!--comment-->
  </div>
</div>

