<div>
  <h3>You have 15 friends in your local carbon network.</h3>
  <% %>
</div>
<div id="progress-bar">
    <div class="progress progress-info">
      <div class="bar" style="width: 70%"></div>
    </div>
</div>
