<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/home">MyCarbonCap</a>
    <ul class="nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </div>
</div>
