<h2>Suggestion Feed</h2>
<ul>
  <li>Raise your cred score by...</li>
  <li>Lower your footprint score by ...</li>
  <li>Help Grandma Milly by verifying her home details.</li>
  <li>Invite friends to join MyCarbonCap.</li>
</ul>
