<h4>Carbon Cap Suggestion</h4>
<ul>
  <li>Raise your CarbonCred score by <a href="#">verifying friends' activity logs</a>.</li>
  <li>Know the difference between an offset and an allowance? Check out <a href="#">MyCarbonCap's learning center</a>.</li>
  <li>Puneeth completed his profile! Help him earn CarbonCred by <a href="#">verifying his commute details</a>.</li>
  <li>See how you stack up against your friends: <a href="#">Send invitations to join MyCarbonCap!</a></li>
  <li>Ready to reduce your footprint? <a href="#">Click here to buy carbon offsets</a>.</li>
</ul>
