// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Recht associates colors:
$light_blue: #D0D9D1;
$dark_green: #7EA67C;
$light_green: #A0BF9F;
$dark_gray: #8C8B79;
$light_gray: #F2F2F2;

h1 {color: $dark_green;}
body {background-color: $light_gray; }

#carbonbar img {
  height: 50px;
}

#badge {
  border-style: solid;
  border-radius: 15px;
  border-color: $dark_green;
}

#badge + img, h3 {
  display: inline;
}

#badge #progress-bar {
  padding-left: 1em;
  padding-right: 1em;
}

#badge .span4 {
  text-align: center;
  border-style: solid;
  border-radius: 15px;
  border-color: $dark_gray;
}

#suggestion{
  border-style: solid;
  border-radius: 15px;
  border-color: $dark_green;
  margin-top: 1em;
}

#friends{
  border-style: solid;
  border-color: $dark_green;
}

#facebook .connecting_flights_link {
  color: blue;
  font-size: small;
}

#tabs div {
  background-color: $light_blue;
  }

#tabs img{
  margin-top: 5px;
  margin-right: 5px;
  }

#suggestion li {
  margin-top: 20px;
}

a {
  color: $dark_gray;
}
